<a href="https://colab.research.google.com/github/Jinnkazuma/dataML/blob/main/claseGrabada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tipos de Datos Basico

In [ ]:
#Declaracio, suma, operadores y caracteres
sample1=10
sample2=2.2
sample3='Juan'
print(type(sample1))
print(type(sample2))
print(type(sample3))

print(sample1+sample2)
print(sample1*sample2)
print(sample1**2)

s1=True
s2=False

print(s1 and s2)
print(s1 or s2)
print(not s1)

print(len(sample3)) #cantidad de caracteres
print(sample3.upper()) #todo mayuscula
print(sample3.lower()) #todo minuscula
print(sample3.capitalize()) #Primer caracter mayuscula

<class 'int'>
<class 'float'>
<class 'str'>
12.2
22.0
100
False
True
False
4
JUAN
juan
Juan

In [ ]:
#Listas y array

In [27]:
someList=list()
someList=['borrador',1,'lapiz','cuaderno','telefono',True]
print(someList[4])
print(len(someList))

print('---------------')
for i in someList:
  print(i)


someList.append('regla')
print('---------------')

for i in someList:
  print(i)

print('---------------')
someList.pop(2)
print('---------------')

for i in someList:
  print(i)

print('---------------')
print(someList[1:6])
print('---------------')
print(someList[-1])
print(someList[:3])

telefono
6
---------------
borrador
1
lapiz
cuaderno
telefono
True
---------------
borrador
1
lapiz
cuaderno
telefono
True
regla
---------------
---------------
borrador
1
cuaderno
telefono
True
regla
---------------
[1, 'cuaderno', 'telefono', True, 'regla']
---------------
regla
['borrador', 1, 'cuaderno']

In [41]:
d={'name':'juan','age':30,'city':'El Carmen'}
print(d['name'])
print(d['age'])
print(d['city'])
print('---------------')
d['uni']='Uleam'
print(d['uni'])
print('---------------')
for item in d:
  print(item)
print('---------------')
for key in d:
  print(d[key])

juan
30
El Carmen
---------------
Uleam
---------------
name
age
city
uni
---------------
juan
30
El Carmen
Uleam

In [ ]:
[]